{{#cl-box boxClass="md-col-12"}}
  {{#if (lt 0 diet.calorieAdjustment)}}
    {{#if (lt 500 diet.calorieAdjustment)}}
      <span class="inline-block px1 white bg-red rounded right">
        Dirty Bulking™
      </span>
    {{else}}
      <span class="inline-block px1 white bg-orange rounded right">
        Bulking
      </span>
    {{/if}}
  {{else}}
    {{#if (lt -500 diet.calorieAdjustment)}}
      <span class="inline-block px1 white bg-aqua rounded right">
        Cutting
      </span>
    {{else}}
      <span class="inline-block px1 white bg-purple rounded right">
        Starving
      </span>
    {{/if}}
  {{/if}}
  <h2 class="mt0">IIFYM</h2>
  <hr>
  <div class="clearfix">
    <div class="col md-col-4">
      <label>Calorie Adjustment: <strong>{{diet.calorieAdjustment}}</strong> ~{{ceil diet.goalWeight}}lbs</label>
    {{input value=diet.calorieAdjustment
      type="range"
      min=-1000
      max=1000
      step=20
    class="block range-light col-12 mb3"}}
      <label>Grams Protein Per Pound: <strong>{{diet.proteinPerPound}} g</strong></label>
      {{input value=diet.proteinPerPound
        type="range"
        min=0.0
        max=2.0
        step=0.1
        class="block range-light col-12 mb3 px1"}}

      <label>Carbs Per Pound, No Activity: <strong>{{diet.carbsPerPoundNoActivity}} g</strong></label>
      {{input value=diet.carbsPerPoundNoActivity
        type="range"
        min=0.0
        max=2.0
        step=0.1
        class="block range-light col-12 mb3 px1"}}

      <label>Carbs Per Pound, Light Activity: <strong>{{diet.carbsPerPoundLightActivity}} g</strong></label>
      {{input value=diet.carbsPerPoundLightActivity
        type="range"
        min=0.0
        max=2.0
        step=0.1
        class="block range-light col-12 mb3 px1"}}

      <label>Carbs Per Pound, Moderate Activity: <strong>{{diet.carbsPerPoundModerateActivity}} g</strong></label>
      {{input value=diet.carbsPerPoundModerateActivity
        type="range"
        min=0.0
        max=2.0
        step=0.1
        class="block range-light col-12 mb3 px1"}}

        <label>Carbs Per Pound, Intense Activity <strong>{{diet.carbsPerPoundIntenseActivity}}</strong></label>
      {{input value=diet.carbsPerPoundIntenseActivity
        type="range"
        min=0.0
        max=2.0
        step=0.1
        class="block range-light col-12 mb3 px1"}}
    </div>
    <div class="col md-col-8">
      <table class="table-light">
        <thead>
          <tr>
            <th>Activity Lvl</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Carbs</th>
            <th>Fats</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>None</td>
            <td>
              {{ceil diet.adjustedBmrNoActivity}}
              {{#if (not-eq diffNoActivity 0)}}
                <span class="{{if (lt diffNoActivity 0) "red" "green"}} muted">
                  {{if (gt diffNoActivity 0) '+'}}
                  {{ceil diffNoActivity}}</span>
              {{/if}}
            </td>
            <td>
              {{ceil diet.proteinNoActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.proteinPerPound}})
              </span>
            </td>
            <td>
              {{ceil diet.carbsNoActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.carbsPerPoundNoActivity}})
              </span>
            </td>
            <td>{{ceil diet.fatsNoActivity}}</td>
          </tr>
          <tr>
            <td>Light</td>
            <td>
              {{ceil diet.adjustedBmrLightActivity}}
              {{#if (not-eq diffLightActivity 0)}}
                <span class="{{if (lt diffLightActivity 0) "red" "green"}} muted">
                  {{if (gt diffLightActivity 0) '+'}}
                  {{ceil diffLightActivity }}</span>
              {{/if}}
            </td>
            <td>
              {{ceil diet.proteinLightActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.proteinPerPound}})
              </span>
            </td>
            <td>
              {{ceil diet.carbsLightActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.carbsPerPoundLightActivity}})
              </span>
            </td>
            <td>{{ceil diet.fatsLightActivity}}</td>
          </tr>
          <tr>
            <td>Moderate</td>
            <td>
              {{ceil diet.adjustedBmrModerateActivity}}
              {{#if (not-eq diffModerateActivity 0)}}
                <span class="{{if (lt diffModerateActivity 0) "red" "green"}} muted">
                  {{if (gt diffModerateActivity 0) '+'}}
                  {{ceil diffModerateActivity }}</span>
              {{/if}}
            </td>
            <td>
              {{ceil diet.proteinModerateActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.proteinPerPound}})
              </span>
            </td>
            <td>
              {{ceil diet.carbsModerateActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.carbsPerPoundModerateActivity}})
              </span>
            </td>
            <td>{{ceil diet.fatsModerateActivity}}</td>
          </tr>
          <tr>
            <td>Intense</td>
            <td>
              {{ceil diet.adjustedBmrIntenseActivity}}
              {{#if (not-eq diffIntenseActivity 0)}}
                <span class="{{if (lt diffIntenseActivity 0) "red" "green"}} muted">
                  {{if (gt diffIntenseActivity 0) '+'}}
                  {{ceil diffIntenseActivity }}</span>
              {{/if}}
            </td>
            <td>
              {{ceil diet.proteinIntenseActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.proteinPerPound}})
              </span>
            </td>
            <td>
              {{ceil diet.carbsIntenseActivity}}
              <span class="gray muted">
                (~{{ceil diet.goalWeight}} &times; {{diet.carbsPerPoundIntenseActivity}})
              </span>
            </td>
            <td>{{ceil diet.fatsIntenseActivity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/cl-box}}

{{cl-meals
  title="Meals, No Activity"
  calories=diet.adjustedBmrNoActivity
  proteins=diet.proteinNoActivity
  fats=diet.fatsNoActivity
  carbs=diet.carbsNoActivity
  }}
{{cl-meals
  title="Meals, Light Activity"
  calories=diet.adjustedBmrLightActivity
  proteins=diet.proteinLightActivity
  fats=diet.fatsLightActivity
  carbs=diet.carbsLightActivity
  weighted=true
  }}
{{cl-meals
  title="Meals, Moderate Activity"
  calories=diet.adjustedBmrModerateActivity
  proteins=diet.proteinModerateActivity
  fats=diet.fatsModerateActivity
  carbs=diet.carbsModerateActivity
  weighted=true
  }}
{{cl-meals
  title="Meals, Intense Activity"
  calories=diet.adjustedBmrIntenseActivity
  proteins=diet.proteinIntenseActivity
  fats=diet.fatsIntenseActivity
  carbs=diet.carbsIntenseActivity
  weighted=true
  }}
