{{#cl-box}}
  <h2 class="mt0">Stats</h2>
  <hr>
  <label>Weight <span class="gray muted">lbs</span></label>
  {{input value=human.weight class="block field col-12 mb1"}}
  {{rangeslider-js start=human.weight
    slide=(action (mut human.weight))
    slideEnd=(action (mut human.weight))
    type="range"
    min=80
    max=300
    class="block col-12 mt2 mb3"}}

  <span class="right">
    {{humanReadableHeight}}
  </span>
  <label>Height <span class="gray muted">inches</span></label>
  {{input value=human.height class="block field col-12 mb1"}}
  {{rangeslider-js
    start=human.height
    slide=(action (mut human.height))
    slideEnd=(action (mut human.height))
    min=24
    max=84
    type="range"
    class="block col-12 mt2 mb3"}}

  <label>Age <span class="gray muted">years</span></label>
  {{input value=human.age class="block field col-12 mb1"}}
  {{rangeslider-js
    start=human.age
    slide=(action (mut human.age))
    slideEnd=(action (mut human.age))
    type="range"
    min=10
    max=120
    class="block col-12 mt2 mb3"}}

  <label class="block">Sex</label>
  {{#radio-button
    value="male"
    groupValue=human.sex
    changed=(action (mut human.sex))}}
    Male
    {{/radio-button}}
  {{#radio-button
    value="female"
    groupValue=human.sex
    changed=(action (mut human.sex))}}
    Female
    {{/radio-button}}
{{/cl-box}}
