{{#cl-box}}
  <h2 class="mt0">Maintenance</h2>
  <hr>
  <p>
  Based on your stats, your  base metabolic rate is ({{ceil diet.bmr}}). This gives us a way to estimate how many calories you burn a day.
  </p>
  <table class="table-light">
    <thead>
      <tr>
        <th>Activity Lvl</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>None</td>
        <td>{{ceil diet.bmrNoActivity}}</td>
      </tr>
      <tr>
        <td>Light</td>
        <td>{{ceil diet.bmrLightActivity}}</td>
      </tr>
      <tr>
        <td>Moderate</td>
        <td>{{ceil diet.bmrModerateActivity}}</td>
      </tr>
      <tr>
        <td>Intense</td>
        <td>{{ceil diet.bmrIntenseActivity}}</td>
      </tr>
    </tbody>
  </table>

{{/cl-box}}
