{{#cl-box}}
  <h2 class="mt0">Maintenance</h2>
  <hr>
  <p>
  Based on a human's basic stats, we are able to calculate their BMR ({{ceil diet.bmr}}) and estimate their daily caoloric expenditure.
  </p>
  <table class="table-light">
    <thead>
      <tr>
        <th>Activity Lvl</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>None</td>
        <td>{{diet.bmrNoActivity}}</td>
      </tr>
      <tr>
        <td>Light</td>
        <td>{{diet.bmrLightActivity}}</td>
      </tr>
      <tr>
        <td>Moderate</td>
        <td>{{diet.bmrModerateActivity}}</td>
      </tr>
      <tr>
        <td>Intense</td>
        <td>{{diet.bmrIntenseActivity}}</td>
      </tr>
    </tbody>
  </table>

{{/cl-box}}
